<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ site_title }}{% if site_title %} - {% endif %}{{ page_title }}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ktxyz/self/docs/_assets/css/style.css">
    <!-- <link rel="stylesheet" href="/_assets/css/style.css"> -->
</head>
<body>
    {{ header | safe }}
    {{ content | safe }}
    {{ footer | safe }}
</body>
</html>